/*** main style sheet for dcharney repo ***/


/* root declarations */

:root {
    --dark-main: #1b383b ;
    --main: #17555c;
    --light-main: #39a6b2;
    --accent-color: #8f741d;
    --light-text: whitesmoke
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding: 100px 15vw 100px 8vw;
}

/** start of splash page styles **/

.splash {
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    height: 10vw;
}

.main-title span {
    font-size: 10vw;
    color: var(--main);
    text-shadow: 0 0 10px var(--light-main);
    font-family: Jazz LET, fantasy;
    font-weight: lighter;
}

.title-letter:hover {
    color: var(--light-main);
    text-shadow: 0 0 12px var(--light-text);
    font-size: 15vw;
    transition-duration: 0.5s ;
    justify-content: center;
}

.space {
    margin-right: 2vw;
}

.enter-bttn {
    background-color: var(--main);
    box-shadow: 0 0 15px var(--light-main);
    border: none;
    color: var(--light-text);
    padding: 10px 20px;
    font-style: normal;
    font-size: 2vw;
    border-radius: 5px;
    height: fit-content;
    font-family: Jazz LET, fantasy;
    letter-spacing: .1em;
}

.enter-bttn:hover {
    box-shadow: 0 0 15px var(--light-text);
    font-size: 3vw;
    transition-duration: 0.25s;
}

header div {
    /** prevents shift of main title when button grows **/
    height: 10vw;
    display: flex;
    align-items: center;
}

/** end of splash page styles **/

/** start of home page styles **/

.home {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}

.home h1 {
    margin: 10vw;
}

nav {
    position: fixed;
    right: 2vw;
    background: rgba(143, 116, 29, .5);
    padding: 10px;
    box-shadow: 0 0 5px var(--light-text);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

header nav a {
    color: var(--light-main);
    text-decoration: none;
    font-weight: bold;
    outline: 1px solid var(--light-text);
}

/** start bio section **/

.bio {
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bio-img{
    margin: 10px 50px;
    border: 5px solid var(--accent-color);
}

.bio-content {
    color: var(--light-text);
    height: 80%;
    margin: 20px;
}

/** end bio section **/

/** start portfolio section **/

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7, 5vw);
    border: solid 2px var(--accent-color);
    background: var(--light-main);
}

.portfolio-container div {
    border: 1px solid black;

}

.project-1 {
    grid-column: 1/6;
    grid-row: 1/4;
    /*background-image: url(../images/run-buddy.JPG);
    background-size: cover;*/
    background-color: transparent;
    perspective: 1000px;
}

.project-2 {
    grid-column: 6/9;
    grid-row: 1/3;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}

.project-3 {
    grid-column: 1/4;
    grid-row: 4/8;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}

.project-4 {
    grid-column: 4/6;
    grid-row: 4/6;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}

.project-5 {
    grid-column: 6/9;
    grid-row: 3/6;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}

.project-6 {
    grid-column: 4/7;
    grid-row: 6/8;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}

.project-7 {
    grid-column: 7/9;
    grid-row: 6/8;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}


/** end portfolio section **/

.contact {
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/** footer **/

footer {
    display: flex;
    background: var(--accent-color);

    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}