/*** main style sheet for dcharney repo ***/


/* root declarations */

:root {
    --dark-main: #1b383b ;
    --main: #17555c;
    --light-main: #39a6b2;
    --accent-color: #8f741d;
    --light-text: whitesmoke
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding: 7vh 15vw 7vh 8vw;
}

/** start of splash page styles **/

.splash {
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    height: 10vw;
}

.main-title span {
    font-size: 10vw;
    color: var(--main);
    text-shadow: 0 0 10px var(--light-main);
    font-family: Jazz LET, fantasy;
    font-weight: lighter;
}

.title-letter:hover {
    color: var(--light-main);
    text-shadow: 0 0 12px var(--light-text);
    font-size: 15vw;
    transition-duration: 0.5s ;
    justify-content: center;
}

.space {
    margin-right: 2vw;
}

.enter-bttn {
    background-color: var(--main);
    box-shadow: 0 0 15px var(--light-main);
    border: none;
    color: var(--light-text);
    padding: 10px 20px;
    font-size: 2vw;
    border-radius: 5px;
    height: fit-content;
    font-family: Jazz LET, fantasy;
    letter-spacing: .1em;
}

.enter-bttn:hover {
    box-shadow: 0 0 15px var(--light-text);
    font-size: 3vw;
    transition-duration: 0.25s;
}

header div {
    /** prevents shift of main title when button grows **/
    height: 10vw;
    display: flex;
    align-items: center;
}

/** end of splash page styles **/

/** start of home page styles **/

.home {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url(https://via.placeholder.com/150/2d3a3d/17555c);
    background-size: cover;
}

.home h1 {
    margin: 10vw;
}

.home h1 a {
    color: var(--light-main);
    text-shadow: 0 0 12px var(--light-text);
    font-size: 10vw;
    text-decoration: none;
}

nav {
    position: fixed;
    right: 2vw;
    background: rgba(143, 116, 29, .5);
    padding: 10px;
    box-shadow: 0 0 5px var(--light-text);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    z-index: 999;
}

header nav a {
    color: var(--light-main);
    text-decoration: none;
    font-weight: bold;
    outline: 1px solid var(--light-text);
}

/** start bio section **/

.bio {
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
}

.bio-img {
    width: 30vw;
    height: 30vw;
    border: 5px solid var(--accent-color);
    overflow: hidden;
}

.bio-img img {
    width: 100%;
}

.bio-content {
    color: var(--light-text);
    height: 80%;
    width: 40vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.bio-content p {
    margin-top: 1vh;
}

/** end bio section **/

/** start portfolio section **/

.portfolio {
    background: var(--dark-main);
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7, 12vh);
    border: solid 5px var(--accent-color);
    background: var(--dark-main);
}

.project-1 {
    grid-column: 1/6;
    grid-row: 1/4;
}

.project-2 {
    grid-column: 6/9;
    grid-row: 1/3;
}

.project-3 {
    grid-column: 1/4;
    grid-row: 4/8;
}

.project-4 {
    grid-column: 4/6;
    grid-row: 4/6;
}

.project-5 {
    grid-column: 6/9;
    grid-row: 3/6;
}

.project-6 {
    grid-column: 4/7;
    grid-row: 6/8;
}

.project-7 {
    grid-column: 7/9;
    grid-row: 6/8;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.flip-card-front img, .flip-card-back img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.flip-card-back img {
    filter: brightness(25%);
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
    position: relative;
}

.flip-card-back div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-flow: column wrap;
    color: var(--light-main);
    text-shadow: 0 0 2px var(--light-text);
}

/** end portfolio section **/

/** start contact section **/
.contact {
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/**end contact section **/

/** start footer **/

footer {
    display: flex;
    background: var(--accent-color);

    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

/** end footer **/

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .home {
        justify-content: center;
    }

    .home h1 {
        display: flex;
    }

    .home h1 a {
        text-align: center;
        font-size: 14vw;
    }
    
    nav {
        position: fixed;
        top: 20px;
        flex-direction: row;
        height: auto;
        width: 90%;
    }

    section {
        padding: 7vh 8vw 7vh 8vw;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6, .project-7 {
        grid-column: auto;
        grid-row: auto;
    }

    .flip-card-inner {
        transform: rotateY(180deg);
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .bio {
        flex-direction: column;
        height: auto;
    }

    .bio-img {
        width: 50vw;
        height: 50vw;
    }
    .bio-content {
        width: 90%;
        font-size: 15px;
    }
}